header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 5rem;
  align-items: center;

  & .home {
    cursor: pointer;
  }

  nav {
    display: flex;
    gap: 1rem;

    & .location {
      background-color: #ebe5f9;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      justify-content: center;

      &__icon {
        position: relative;
        top: 1.8px;
        color: #4b2995;
      }

      span {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        color: #4b2995;
      }
    }

    & .cart {
      background-color: #f1e9c9;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      justify-content: center;
      position: relative;
      cursor: pointer;

      &__icon {
        position: relative;
        top: 1.8px;
        color: #c47f17;
      }

      sub {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        color: #fff;
        background-color: #c47f17;
        position: absolute;
        padding: 0.2rem 0.4rem;
        border-radius: 9999px;
        top: -10px;
        right: -5px;
        font-size: 11px;
      }
    }
  }
}
