<div class="card">
  <div class="card__image">
    <img
      src="../../../assets/images/coffees/Coffee-1.png"
      alt="Logo com dois copos de cafe seguido pelo titúlo coffee delivery"
    />
  </div>

  <div class="card__tags">
    <span>tradicional</span>
  </div>

  <div class="card__texts">
    <span>Expresso tradicional</span>
    <p>O tradicional café feito com água quente e grãos moídos</p>
  </div>

  <div class="card__footer">
    <div class="card__footer__price">
      <sub>R$</sub>
      <span>9,90</span>
    </div>

    <div class="card__footer__checkout">
      <div class="card__footer__checkout__quantity">
        <span class="card__footer__checkout__quantity__minus">-</span>
        <span class="card__footer__checkout__quantity__number">2</span>
        <span class="card__footer__checkout__quantity__more">+</span>
      </div>

      <div class="card__footer__checkout__cart">
        <fa-icon
          class="card__footer__checkout__cart__icon"
          [icon]="faCartShopping"
        ></fa-icon>
      </div>
    </div>
  </div>
</div>
