<div class="card">
  <div class="card__image">
    <img
      [src]="getImageURL(coffee.image)"
      alt="Logo com dois copos de cafe seguido pelo titúlo coffee delivery"
    />
  </div>

  <div class="card__tags">
    <span class="card__tags__tag" *ngFor="let tag of coffee.variation">{{ tag.name }}</span>
  </div>

  <div class="card__texts">
    <span>{{ coffee.name }}</span>
    <p>{{ coffee.description }}</p>
  </div>

  <div class="card__footer">
    <div class="card__footer__price">
      <sub>R$</sub>
      <span>{{ coffee.price }}</span>
    </div>

    <div class="card__footer__checkout">
      <div class="card__footer__checkout__quantity">
        <span class="card__footer__checkout__quantity__minus" (click)="removeCountToProduct(coffee)">-</span>
        <span class="card__footer__checkout__quantity__number">{{  coffee.quantity  }}</span>
        <span class="card__footer__checkout__quantity__more" (click)="addCountToProduct(coffee)">+</span>
      </div>

      <div class="card__footer__checkout__cart" (click)="add(coffee)">
        <fa-icon
          class="card__footer__checkout__cart__icon"
          [icon]="faCartShopping"
        ></fa-icon>
      </div>
    </div>
  </div>
</div>
