<section class="banner container container__md">
  <div class="banner__infos">
    <div class="banner__infos__texts">
      <span> Encontre o café perfeito para qualquer hora do dia </span>
      <p>
        Com o Coffee Delivery você recebe seu café onde estiver, a qualquer hora
      </p>
    </div>
    <div class="banner__infos__icons">
      <div class="banner__infos__icons__box">
        <img
          src="../../../assets/images/iconCart.svg"
          alt="Logo com dois copos de cafe seguido pelo titúlo coffee delivery"
        />
        <p>Compra simples e segura</p>
      </div>
      <div class="banner__infos__icons__box">
        <img
          src="../../../assets/images/iconBox.svg"
          alt="Logo com dois copos de cafe seguido pelo titúlo coffee delivery"
        />
        <p>Embalagem mantém o café intacto</p>
      </div>
      <div class="banner__infos__icons__box">
        <img
          src="../../../assets/images/iconClock.svg"
          alt="Logo com dois copos de cafe seguido pelo titúlo coffee delivery"
        />
        <p>Entrega rápida e rastreada</p>
      </div>
      <div class="banner__infos__icons__box">
        <img
          src="../../../assets/images/iconCoffee.svg"
          alt="Logo com dois copos de cafe seguido pelo titúlo coffee delivery"
        />
        <p>O café chega fresquinho até você</p>
      </div>
    </div>
  </div>

  <div class="banner__infos__image">
    <img
      src="../../../assets/images/coffeeBanner.png"
      alt="Logo com dois copos de cafe seguido pelo titúlo coffee delivery"
    />
  </div>
</section>

<main class="principal container container__md">
  <header>
    <p>Nossos cafés</p>
  </header>

  <section class="principal__cards">
    <div *ngFor="let coffee of coffees">
      <app-card-coffee [coffee]="coffee"></app-card-coffee>
    </div>
  </section>
</main>
