<div class="container container__md delivery">
  <div class="delivery__texts">
    <span class="delivery__texts__title">Uhu! Pedido confirmado</span>
    <span class="delivery__texts__description">Agora é só aguardar que logo o café chegará até você</span>
  </div>

  <section class="delivery__location">
    <div class="delivery__location__address">
      <div class="delivery__location__address__cep">
        <img src="../../../assets/images/tag.png" alt="" />
        <div class="delivery__location__address__cep__texts">   
          <span>Entrega em <strong>Rua João Daniel Martinelli, 102</strong></span>
          <span>Farrapos - Porto Alegre, RS</span>
        </div>
      </div>
      <div class="delivery__location__address__time">
        <img src="../../../assets/images/timer.png" alt="" />
        <div class="delivery__location__address__time__texts">
          <span>Previsão de entrega</span>
          <strong>20 min - 30 min</strong>
        </div>
      </div>
      <div class="delivery__location__address__payment">
        <img src="../../../assets/images/cash.png" alt="" />
          <div class="delivery__location__address__payment__texts">
          <span>Pagamento na entrega</span>
          <strong>Cartão de Crédito</strong>
        </div>
      </div>
    </div>
    <div class="delivery__location__image">
      <img
        src="../../../assets/images/delivery.png"
        alt="foto de um motoqueiro fazendo entrega"
      />
    </div>
  </section>
</div>
