/* You can add global styles to this file, and also import other style files */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

a{
    cursor: pointer;
}

.container{
    display: block;
    width: 100%;
    margin: 0 auto;
    
    &__lg{
        max-width: 90%;
    }
    &__md{
        max-width: 80%;
    }
}