<div class="checkout container container__md">
  <form class="checkout__payment" [formGroup]="form">
    <span class="checkout__payment__title">Complete seu pedido</span>
    <section class="checkout__payment__form">
      <header>
        <div>
          <fa-icon class="icon" [icon]="faMapMarkerAlt"></fa-icon>
        </div>
        <div>
          <span>Endereço de entrega</span>
          <p>Informe o endereço onde deseja receber seu pedido</p>
        </div>
      </header>

      <div class="checkout__payment__form__location">
        <div class="column1">
          <div class="inputWithValidator">
            <input
              type="text"
              name=""
              id=""
              formControlName="cep"
              placeholder="CEP"
              (input)="onCepBlur()"
            />
            <p
              class="inputWithValidator__error"
              *ngIf="submitted && cepErrors['required']"
            >
              CEP é obrigatório.
            </p>
          </div>
        </div>
        <div class="column2">
          <div class="inputWithValidator">
            <input
              type="text"
              name=""
              id=""
              placeholder="Rua"
              formControlName="rua"
            />
            <p
              class="inputWithValidator__error"
              *ngIf="submitted && ruaErrors['required']"
            >
              Rua é obrigatório.
            </p>
          </div>
        </div>
        <div class="column3">
          <div class="inputWithValidator">
            <input
              type="text"
              name=""
              id=""
              placeholder="Número"
              formControlName="numero"
            />
            <p
              class="inputWithValidator__error"
              *ngIf="submitted && numeroErrors['required']"
            >
              Número é obrigatório.
            </p>
          </div>
          <div class="inputWithValidator">
            <input
              type="text"
              name=""
              id=""
              placeholder="Complemento"
              formControlName="complemento"
            />
            <p
              class="inputWithValidator__error"
              *ngIf="submitted && complementoErrors['required']"
            >
              Complemento é obrigatório.
            </p>
          </div>
        </div>
        <div class="column4">
          <div class="inputWithValidator">
            <input
              type="text"
              name=""
              id=""
              placeholder="Bairro"
              formControlName="bairro"
            />
            <p
              class="inputWithValidator__error"
              *ngIf="submitted && bairroErrors['required']"
            >
              Bairro é obrigatório.
            </p>
          </div>
          <div class="inputWithValidator">
            <input
              type="text"
              name=""
              id=""
              placeholder="Cidade"
              formControlName="cidade"
            />
            <p
              class="inputWithValidator__error"
              *ngIf="submitted && cidadeErrors['required']"
            >
              Cidade é obrigatória.
            </p>
          </div>
          <div class="inputWithValidator">
            <input
              type="text"
              name=""
              id=""
              placeholder="UF"
              formControlName="estado"
            />
            <p
              class="inputWithValidator__error"
              *ngIf="submitted && estadoErrors['required']"
            >
              Estado é obrigatório.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="checkout__payment__currency">
      <header>
        <div>
          <fa-icon class="icon" [icon]="faDollarSign"></fa-icon>
        </div>
        <div>
          <span>Pagamento</span>
          <p>
            O pagamento é feito na entrega. Escolha a forma que deseja pagar
          </p>
        </div>
      </header>

      <div class="inputWithValidator">
        <div class="checkout__payment__currency__method">
          <div class="checkout__payment__currency__method__button">
            <input
              type="radio"
              id="credit"
              name="methodPayment"
              value="Cartão de crédito"
              formControlName="methodPayment"
            />
            <label for="credit">
              <fa-icon class="icon" [icon]="faCreditCard"></fa-icon>
              <span>Cartão de crédito</span>
            </label>
          </div>
          <div class="checkout__payment__currency__method__button">
            <input
              type="radio"
              id="debit"
              name="methodPayment"
              value="Cartão de débito"
              formControlName="methodPayment"
            />
            <label for="debit">
              <fa-icon class="icon" [icon]="faLandmark"></fa-icon>
              <span>Cartão de débito</span>
            </label>
          </div>
          <div class="checkout__payment__currency__method__button">
            <input
              type="radio"
              id="money"
              name="methodPayment"
              value="Dinheiro"
              formControlName="methodPayment"
            />
            <label for="money">
              <fa-icon class="icon" [icon]="faMoneyBillWave"></fa-icon>
              <span>Dinheiro</span>
            </label>
          </div>
        </div>

        <p
          class="inputWithValidator__error"
          *ngIf="submitted && methodPaymentErrors['required']"
        >
          Método de pagamento é obrigatório.
        </p>
      </div>
    </section>
  </form>
  <section class="checkout__cart">
    <span class="checkout__cart__title">Cafés selecionados</span>

    <div class="checkout__cart__container">
      <div class="checkout__cart__container__items">
        <div
          class="checkout__cart__container__items__item"
          *ngFor="let item of cartCheckout"
        >
          <div class="checkout__cart__container__items__item__image">
            <img
              [src]="getImageURL(item.image)"
              alt="image de um café na xicara com o nome de{{ item.name }}"
            />
          </div>
          <div class="checkout__cart__container__items__item__total">
            <header>
              <span> {{ item.name }} </span>
              <span> R$ {{ item.price }} </span>
            </header>
            <div class="checkout__cart__container__items__item__total__buttons">
              <div
                class="checkout__cart__container__items__item__total__buttons__quantity"
              >
                <span
                  (click)="addCountToItemCheckout(item, 'remove')"
                  class="checkout__cart__container__items__item__total__buttons__quantity__minus"
                  >-</span
                >
                <span
                  class="checkout__cart__container__items__item__total__buttons__quantity__number"
                  >{{ item.quantity }}</span
                >
                <span
                  (click)="addCountToItemCheckout(item, 'add')"
                  class="checkout__cart__container__items__item__total__buttons__quantity__more"
                  >+</span
                >
              </div>

              <button
                type="button"
                (click)="removeItemToCheckout(item)"
                class="checkout__cart__container__items__item__total__buttons__remove"
              >
                <fa-icon class="icon" [icon]="faTrashAlt"></fa-icon>
                <span>Remover</span>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="checkout__cart__container__total">
        <div class="checkout__cart__container__total__items">
          <span>Total de itens</span>
          <span>R$ {{ totalProductsWithDelivery }}</span>
        </div>
        <div class="checkout__cart__container__total__items">
          <span>Entrega</span>
          <span>R$ 10,00</span>
        </div>
        <p>Total R$ {{ totalProducts }}</p>

        <button type="submit" (click)="submit()" [disabled]="disabledButton">Confirmar pedido</button>
      </div>
    </div>
  </section>
</div>
